<%- include('partials/header') -%>
<main class="maincontainer">
    <h1 class="areaTitle"><%= area %> <span class="addbutton"><a href="/add"><i class="fa-solid fa-circle-plus"></i></a></h1>

    <h2>Today: <%= date %></h2>
    <ul>
        <% for(let i=0; i < due.length; i++) {%>
            <li class="item" data-id='<%=due[i]._id%>'>
                <% if(due[i].completed === true) {%>
                    <span class='task completed'><%= due[i].todoItem %></span>
                    <a href="/todos/edit/<%=due[i]._id%>"><span class="fa-solid fa-pen-to-square"></span></a>
                    <span class='fa fa-trash'></span><br>
                    <% if (due[i].comment) { %>
                        <span class='task completed taskcomment'>Comment: <%= due[i].comment %></span>
                    <% } %>
                <% }else{ %>
                    <span class="task"><%= due[i].todoItem %></span>
                    <a href="/todos/edit/<%=due[i]._id%>"><span class="fa-solid fa-pen-to-square"></span></a>
                    <span class='fa fa-trash'></span><br>
                    <% if (due[i].comment) { %>
                        <span class="taskcomment">Comment: <%= due[i].comment %></span>
                    <% } %>
                <% } %>    

            </li>
        <% } %>
    </ul>
        

    <h2>Future Tasks</h2>
    <ul>
        <% for(let i=0; i < futureDate.length; i++) {%>
            <li class="item" data-id='<%=futureDate[i]._id%>'>
                <% if(futureDate[i].completed === true) {%>
                    <span class='task completed'><%= futureDate[i].todoItem %> <%= futureDate[i].dueDate.toISOString().slice(0, 10) %></span>
                    <a href="/todos/edit/<%=futureDate[i]._id%>"><span class="fa-solid fa-pen-to-square"></span></a>
                    <span class='fa fa-trash'></span><br>
                    <% if (futureDate[i].comment) { %>
                        <span class='task completed taskcomment'>Comment: <%= futureDate[i].comment %></span>
                    <% } %>
                <% }else{ %>
                    <span class="task"><%= futureDate[i].todoItem %> <%= futureDate[i].dueDate.toISOString().slice(0, 10) %></span>
                    <a href="/todos/edit/<%=futureDate[i]._id%>"><span class="fa-solid fa-pen-to-square"></span></a>
                    <span class='fa fa-trash'></span><br>

                    <% if (futureDate[i].comment) { %>
                        <span class="taskcomment">Comment: <%= futureDate[i].comment %></span>
                    <% } %>
                <% } %>    
            </li>
        <% } %>
    </ul>
</main>
<%- include('partials/footer') -%>